@model List<Book>
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Books and Reviews</title>
</head>
<body>
    <h1>Books and Reviews</h1> 
    <h2>Newest Book</h2>
    @ViewBag.newestBook
    <h2>List of Books</h2>
    @foreach (Book b in Model)
    {
       <h2> @b.Title </h2>
        @b.Authors[0].Name; <br />
        @b.PubDate; <br />
        <br />
        @if (b.Reviews.Count > 0)
        {
            <h3>Reviews</h3>
            @foreach (Review r in b.Reviews)
            {
                @r.ReviewText <br />
            }
            <br />
        }
        <a asp-action="AddReview" asp-route-title="@b.Title">Add a review</a>
    }
    
    <br />
    <nav><br />
    <a href="AddBook">Add a book</a><br />
    <a href="/Home">Home</a>
    </nav>
</body>
</html>
